<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CustomSuite">
	<test name="ModuleOneTest">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			 <class name="testscripts.TestNGSampleTwo" />
			<!--<class name="dataparamscripts.DataParamTest" />-->
		</classes>
	</test> <!-- ModuleOneTest -->

</suite> <!-- CustomSuite -->
